.row.p-t-3
  %h1.text-xs-center Ranking
  .col-md-6.col-md-offset-3
    .list-group
      - @ranking.results.each do |user_id, points|
        .list-group-item
          = User.find(user_id).email
          = points
.row.m-t-2
  = button_to "Back to battle", battle_path(params[:battle_id]), method: :get, class: 'btn btn-info-outline center-block'